@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    <h3>Please login with your spotify account, to see your track or artist ranking! </h3>
    <button onclick="location.href='@Url.Action("Index", "Authentication")'" type="button">Authenticate!</button>
</div>
