@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    <h3>Please login with your spotify account, to see your track or artist ranking! </h3>
    <form asp-page-handler="Print" method="post">
        <button class="btn btn-default">CLICK ME</button>
    </form>

    <form asp-page-handler="delete" method="post">
        <button class="btn btn-default">Return List</button>
    </form>

</div>