@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style="background-color:#b3ffb3;">
    <img id="mylogo" src="~/logo.jpg" alt="my image logo" class="logo" />
</body>

<div class="text-center">
    <h1 style="color:#334d4d" class="display-4">Welcome </h1>
    
    <h3 style="color:#334d4d">Please login with your spotify account, to see your track or artist ranking! </h3>
    <form asp-page-handler="Print" method="post">
        <button class="btn btn-default">CLICK ME</button>
    </form>

    <form asp-page-handler="delete" method="post">
        <button class="btn btn-default">Return List</button>
    </form>

</div>