@page
@model SpotityStats.Pages.RecentlyPlayedModel
@{
    ViewData["Title"] = "Recently Played:";
}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Track</th>
        <th scope="col">Artist</th>
        <th scope="col">Played at</th>
    </tr>
    </thead>
    <tbody>
    @{
        var recentList = await Spotify.GetRecentTracksList();
        int i = 1;
        foreach (var track in recentList)
        {
            <tr>
                <th scope="row">@i</th>
                <td>
                    @track.Name
                </td>
                <td>@track.Artist</td>
                <td>
                    @track.PlayedAt.ToString("dd/MM/yyyy HH:mm:ss")</td>
            </tr>
            i++;
        }
    }
    </table>