@page
@model SpotityStats.Pages.RecentlyPlayedModel
@{
    ViewData["Title"] = "Recently Played:";
}


<body style="background-color:#CEFFD5;">
    
    <h1 style="color:#334d4d">@ViewData["Title"]</h1>
</body>
