@page
@model SpotityStats.Pages.Shared.SpotifyModel
@{
    ViewData["Title"] = "Top Artists:";
}


<body style="background-color:#CEFFF0;">
    
    <h1 style="color:#334d4d">@ViewData["Title"]</h1>
</body>
