@page
@model SpotityStats.Pages.TopGenresModel
@{
    ViewData["Title"] = "Top Genres:";
}


<body style="background-color:#CEFFE6;">
    
    <h1 style="color:#334d4d">@ViewData["Title"]</h1>
</body>

