@page
@model PrivacyModel
@{
    ViewData["Title"] = "Top Tracks";
}
<h1>@ViewData["Title"]</h1>
<p>Top Tracks.</p>


<ul class=".active">
    <li><a class="active" href="#home">Top Last Moth</a></li>
    <li><a href="#news">Top Last 6 Months</a></li>
    <li><a href="#contact">Top All Time</a></li>
</ul>


