@page
@model PrivacyModel
@{
    ViewData["Title"] = "Top Tracks:";
}

<body style="background-color:#CEFCFF;">
    
    <h1 style="color:#334d4d">@ViewData["Title"]</h1>

    <ul class=".active">
    <li><a class="active" href="#home"> Top Last Moth</a></listyle>
    <li><a href="#news">Top Last 6 Months</a></li>
    <li><a href="#contact">Top All Time</a></li>
</ul>
</body>



